#CORS SUCK
#Header setifempty Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "Authorization, Access-Control-Allow-Headers, Origin,Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"


SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #ONLY ON LIVE SITE
    #RewriteCond %{HTTPS} !=on
    #RewriteCond %{HTTP:X-Forwarded-Proto} !https
    #RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>
